textarea{
    resize: none;
    background-color: transparent;
    border-radius: 20px;
    padding: 2%;
}
textarea::-webkit-scrollbar{
    display: none;
}
.announcement-submirt-form{
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 1px 3px black; 
    padding: 2%;
}
.back-icons{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.icons-back-button{
    border-radius: 50px;
    color: #C92C39;
}
.icons-back-button:hover{
    cursor: pointer;
    color: #ECF2FF;
    background-color: #C92C39;
}
.container-heading{
    font-family: kiera;
    color: #C92C39;
}

.Form-submit-btn{
    width:100%;
    display: flex;
    justify-content: center;
    margin: 2% 0 0 0;   
}
.Form-submit-btn button{
    width:10%;
    background-color: #C92C39;
    padding: 0.5%;
    border: 1px solid #C92C39;
    border-radius:20px;
    color: #ECF2FF;
    box-shadow: 0px 3px 5px black;
}
.Form-submit-btn button:hover{
    cursor: pointer;
    background-color: #ECF2FF;
    color: #C92C39;
}
.Form-submit-btn button:active{
    box-shadow: 0px 0.5px 2px black;
}