@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik:wght@400;600&display=swap');

@font-face {
    font-family: metropolis;
    src: url('../assets/fonts/Metropolis-SemiBold.otf');
}
@font-face {
    font-family: josefinsans;
    src: url("../assets/fonts/JosefinSans-Regular.ttf");
}

.announcement-allGroup{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 20px;
}

.announcement-part,.announcement-operations{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 1px 3px black;
}
.announcement-part{
    display: flex;
    flex-direction: column;
}
.announcement-subject{
    padding:0;
    font-size: 32px;
    margin: 2% 0 0 2%;
    font-family: josefinsans;
    color: #C92C39;
}
.announcement-description{
    margin: 2% 0 2% 2%;
    opacity: 0.69;
    font-family: metropolis;
}
.announcement-operations{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.announcement-operations button{
    width: 30%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 0;
    border-radius: 75px;
    box-shadow: 0px 1px 3px black;
}
.announcement-operations button:active{
    box-shadow: 0px 0.5px 1px black;
}
.announcement-operations button:hover{
    cursor: pointer;
    background-color: #C92C39;
    color:#ECF2FF;
}
.icons{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.plus-icon{
    background-color: #C92C39;
    color: white;
    width: 30px;
    aspect-ratio: 1/1;
    padding: 1%;
    margin: 1%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px black;
}

.plus-icon:hover{
    cursor: pointer;
    background-color:white;
    color:#C92C39;
}