.Main-Area{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1% 1%;
    gap: 1.5%;
}
.Announcement-part,.userdetails-part{
    
    border-radius: 20px;
    background-color: #ECF9FF;
    padding: 5% 5%;
    height: max-content;
    max-height: 80vh;
    overflow: auto;
    box-shadow: 0.1px 2px 10px #122932;
}
.Announcement-part::-webkit-scrollbar,.userdetails-part::-webkit-scrollbar{
    display: none;
}
