.Main-Area{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1% 1%;
    gap: 1.5%;
}
.Announcement-part,.userdetails-part{
    border-radius: 20px;
    background-color: aquamarine;
    padding: 2% 5%;
    height: max-content;
}