@font-face {
    font-family: 'kiera';
    src: url('../assets/fonts/keiraseriffreeregular-k7app.otf');
}
.Navbar h1{
    color: #C92C39;
    font-family: kiera;
    font-size: 2.3rem;
    letter-spacing: 2px;
}
.Navbar{
    height: max-content;
    padding: 4px;
    background-color: #ECF9FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5% 1%;
    border-radius: 15px;
    box-shadow: 0.1px 2px 10px #122932;
}
.Navbar-links{
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.options{
    display: none;
}
.options-onhover {
    background-color: #6BDBA3;
    border-radius: 15px;
    color: #202A25;
    position: absolute;
    z-index: 1;
    top: 6vh;
    width: 6%;
}
.Navbar-ind-link{
 cursor: pointer;
}
.Navbar-ind-link a{
    text-decoration: none;
    color: black;
}