@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@100&family=Rubik:wght@400;600&display=swap');

.btns-group{
    display: flex;
    justify-content: space-between;
}
.btn-back{
    color: #C92C39;
    border-radius: 20px;
}
.btn-back:hover{
    color: #ECF2FF;
    background-color: #C92C39;
    cursor: pointer;
}
.btn-edit{
    width: 8%;
    background-color: #C92C39;
    border: 1px solid #EB6440;
    border-radius: 20px;
    color: #ECF2FF;
    box-shadow: 0px 3px 5px black;
}
.btn-edit:hover{
    color: #C92C39;
    background-color: #ECF2FF;
    cursor: pointer;
}

.btn-edit:active{
    box-shadow: 0px 1px 5px black;
}

.announcement-main-show{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 1px 3px black;
    padding: 20px;
    margin: 2% 1%;
    
}
.annoucement-main-heading p{
    font-weight: bolder;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.annoucement-main-des{
    font-family: josefinsans;
    font-size: 22px;
    color: #1F1F1F;
    /* color: #0F1A20; */
}
.annoucement-main-heading p{
    font-family: metropolis;
    color: #C92C39;
    font-size: 32px;
}
/* .announcement-main-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
} */
