.signup-div {
     display : flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 50%;
     gap: 20px;
     padding: 5%;
     margin: 10% auto;

}
.signup-div input , .signup-div select {    
    width: 50%;
}