.userDetails-view{
    overflow: auto ;
    max-height: 85vh;
}
.image-container{
    width: 450px;
    height: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
.image-container img{
    width: 40%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    padding: 40px;
    
  }
  
  .userDetails-title {
    color: #1F1F1F;
    font-size: 20px;
    grid-column: 1 / 2;
    justify-self:center;
    font-family: metropolis;
  }
  
  .userDetails-value {
    font-weight: bold;
    font-family: josefinsans;
    color: #C92C39;
    font-size: 20px;
    grid-column: 2 / 3;
  }

