.userDetails-view{
    overflow: auto ;
    max-height: 85vh;
}
.image-container{
    width: 450px;
    height: max-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
.image-container img{
    width: 40%;
}
/* .userDetails-details{
    display: flex;
    flex-direction: column;
    align-items: space-;
    justify-content: center;
} */

.userDetails-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .userDetails-details p {
    margin: 0;
  }